<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="clients" [options]="false" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table table-styling">
              <thead>
                <tr class="table-primary">
                  <th>Id</th>
                  <th>CIN</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th class="text-center">action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients">
                  <th scope="row">{{client.id}}</th>
                  <td>{{client.CIN}}</td>
                  <td>{{client.FirstName}}</td>
                  <td>{{client.LastName}}</td>
                  <td>{{client.Email}}</td>
                  <td class="text-center">
    
                    <button class="btn btn-warning btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
</div>
