.autocomplete-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 47%;
}

.autocomplete-list div {
    padding: 5px 10px;
    cursor: pointer;
}

.autocomplete-list div:hover {
    background-color: #f0f0f0;
}
