<div class="row">
    <div class="col-xl-12">
      <app-card cardTitle="Sales" [options]="false" blockClass="table-border-style">
        <div class="table-responsive">
          <table class="table table-styling">
            <thead>
              <tr class="table-primary">
                <th>Id</th>
                <th>Date</th>
                <th>Client</th>
                <th>Items</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sale of sales">
                <td>{{ sale.id }}</td>
                <td>{{ sale.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ sale.client.FirstName }} {{ sale.client.LastName }}</td>
                <td>
                  <ul>
                    <li *ngFor="let item of sale.items">
                      {{ item.quantity }} x {{ item.gypseType }}
                    </li>
                  </ul>
                </td>
                <td class="text-center">
                  <!-- <button class="btn btn-warning btn-sm">Edit</button> -->
                  <button class="btn btn-danger btn-sm">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
  