.b-icon {
    width: 160px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    vertical-align: middle; /* Align the icon vertically with the text */
    border-radius: 5%; /* Makes the image circular */
  }