<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Welcome, {{name}}">
      <p>
        Bienvenue sur GypsoGest, une application dédiée à la gestion complète des opérations de vente de gypse. L'objectif de GypsoGest est de simplifier le suivi des transactions liées à la vente de gypse, d'assurer une gestion efficace des paiements. Cette application vise à optimiser la gestion financière en permettant le suivi précis des opérations et des soldes.
      </p>
    </app-card>
  </div>
</div>
